<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h3>Create a Chat</h3>
    <form action="/chats" method="post">
      <input type="text" placeholder="Sender" name="from" required />
      <textarea placeholder="Message" name="message" required></textarea>
      <input type="text" placeholder="Receiver" name="to" required />
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
